node_modules
.pnpm-debug.log
package-lock.json
yarl.lock
dist
lib

.umi
.umi-test
.umi-production
temp
temp-*
temp_*
.DS_Store
tsconfig.tsbuildinfo
.VSCodeCounter
/test-results/
/playwright-report/
/playwright/.cache/
.turbo
.vscode